* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
footer{
    background: linear-gradient(to right, rgb(22, 22, 22) -10%, rgb(35, 35, 35));
    min-height: 200px;
    width: auto;
    font-size: 30px;
    justify-content: space-between;
    display: flex;
    color: rgb(197, 197, 197);
    flex-wrap: wrap;
    position: relative;
}

.footer-segment:first-child {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 48%;
}

.footer-segment:last-child {
    top: 20px;
    bottom: 20px;
    flex-basis: 48%;
    position: absolute;
    right: 50px;
}
.footer-segmentmid {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 48%;
}

.footer-subsegment:first-child {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 100%;
}

.footer-subsegment:last-child {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 100%;
}

h3{
    font-size: medium;
}

.banner{
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button-center{
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.blok{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25%;
    border-style: solid;
    border-radius: 20px;
    border-color: orange;
    color: white;
    font-size: 2vw;
    padding: 30px;
}

.imgrot{
    animation-name: rotateBack;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.imgrot:hover{
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
    }

.dropdown {
        position: absolute;
        display: inline-block;
        right: 50px;
        top: 20px;
        text-align: right;
    }
      
.dropdown-content {
    display: none;
    position: relative;
    background-color: rgba(255, 116, 2, 0.212);
    border-radius: 10px;
    text-decoration: none;
    min-width: 2em;
    font-size: 1.2em;
    padding: 12px 16px;
    z-index: 1;
    }
      
.dropdown:hover .dropdown-content {
    display: block;
    animation-name: fadeIN;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
    }

.button1 .button2{
    color: white;
}

@keyframes rotate {
        0% { transform: rotateZ(90deg); }
        100% { transform: rotateZ(0deg); }
      }

@keyframes rotateBack {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(90deg); }
}

@keyframes fadeIN {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media only screen and (max-width: 768px) {
      [class*="blok"]{
        font-size: 4vw;
      }
    }

@media only screen and (min-width: 768px) {
    [class*="footer-segmentmid"]{
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
          }
    }