* {
    margin: 0;
    padding: 0
  }
  

header{
    height: 75px;
    width: 100%;
    position: absolute;
}

footer{
    background: linear-gradient(to right, rgb(22, 22, 22) -10%, rgb(35, 35, 35));
    min-height: 200px;
    width: auto;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    display: flex;
    color: rgb(197, 197, 197);
    overflow: auto;
}

.footer-segment:first-child {
    margin-right: 20px;
}

.footer-segment:last-child {
    margin-right: 200px;
}

.footer-subsegment:first-child {
    margin-bottom: -30px;
    margin-top: -60px;
    margin-left: -160px;
}

.footer-subsegment:last-child {
    margin-bottom: 0;
    margin-left: 20px;
}

h3{
    font-size: medium;
}

.banner{
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button-center{
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.button1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    margin: 20px;
    margin-left: 200px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    vertical-align: middle;
    animation: changeColorBack 0.5s; 
    animation-fill-mode: forwards;
}

.button1:hover{
    color: orange;
    transition: color 0.5s; 
    animation: changeColor 0.5s; 
    animation-fill-mode: forwards;
}

.button1::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: orange;
    width: 0%;
    bottom: 0;
    left: 100;
    transition: width 0.5s;
}

.button1:hover::before {
    width: 83px;
}

.button2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    margin: 20px;
    margin-right: 200px;
    text-decoration: none;
    color: orange;
    transition: all 0.3s ease;
    vertical-align: middle;
    right: 0;
}

.button2::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: orange;
    width: 0%;
    bottom: -2px;
    right: 100;
    transition: width 0.5s;
    width: 56px;
}

.blok{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25%;
    border-style: solid;
    border-radius: 20px;
    border-color: orange;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    padding: 30px;
}

@keyframes changeColor {
    0% { color: white; }
    100% { color: orange; }
}

@keyframes changeColorBack {
    0% { color: orange; }
    100% { color: white; }
}

