* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
footer{
    background: linear-gradient(to right, rgb(22, 22, 22) -10%, rgb(35, 35, 35));
    min-height: 200px;
    width: auto;
    font-size: 30px;
    justify-content: space-between;
    display: flex;
    color: rgb(197, 197, 197);
    flex-wrap: wrap;
    position: relative;
}

.footer-segment:first-child {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 48%;
}

.footer-segment:last-child {
    top: 20px;
    bottom: 20px;
    flex-basis: 48%;
    position: absolute;
    right: 50px;
}
.footer-segmentmid {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 48%;
}

.footer-subsegment:first-child {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 100%;
}

.footer-subsegment:last-child {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 100%;
}

h3{
    font-size: medium;
}

.banner{
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button-center{
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.blok{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25%;
    border-style: solid;
    border-radius: 20px;
    border-color: orange;
    color: white;
    font-size: 2vw;
    padding: 30px;
}

ul {
    list-style: none;
    background: none;
    position: absolute;
    right: 20px;
    border-radius: 5px;
    }

    ul li {
    display: inline-block;
    position: relative;
    }

    ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    width: 5em;
    margin-top: 10px;
    }

    ul li ul.dropdown li {
    display: block;
    }

    ul li ul.dropdown {
    width: 100%;
    background: none;
    position: absolute;
    z-index: 999;
    display: none;
    }

    ul li a:hover {
    border-radius: 5px;
    background-color: none;
    transition: color 1s; 
    animation: changeColor 0.5s; 
    animation-fill-mode: forwards;
    }

    ul li:hover ul.dropdown {
    display: block;
    }

    .button2{
        color: orange;
    }

    .imgrot{
        transform: rotateZ(90deg);
    }

    .imgrot:hover{
        animation: ver-rotate 1s;
    }
    

@keyframes ver-rotate{
from
{
transform: rotateZ(90deg);
}
to
{
transform: rotateZ(0deg);
}

}

@keyframes changeColor {
    0% { background-color: none; }
    100% { background-color: rgba(243, 148, 5, 0.185); }
}

@keyframes changeColorBack {
    0% { background-color: rgba(243, 148, 5, 0.185); }
    100% { background-color: none; }
}

@media only screen and (max-width: 768px) {
      [class*="blok"]{
        font-size: 4vw;
      }
    }

@media only screen and (min-width: 768px) {
    [class*="footer-segmentmid"]{
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
          }
    }