* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(197, 197, 197);
    text-decoration: none;
}


aaheader {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.img {
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    background: linear-gradient(to right, rgb(22, 22, 22) -10%, rgb(35, 35, 35));
    min-height: 200px;
    width: auto;
    font-size: 30px;
    justify-content: space-between;
    display: flex;
    color: rgb(197, 197, 197);
    flex-wrap: wrap;
    position: relative;
}

.footer-segment:first-child {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 48%;
}

.footer-segment:last-child {
    top: 20px;
    bottom: 20px;
    flex-basis: 48%;
    position: absolute;
    right: 50px;
}

.footer-segmentmid {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 48%;
}

.footer-subsegment:first-child {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 100%;
}

.footer-subsegment:last-child {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 100%;
}

h3 {
    font-size: medium;
}


.banner {
    width: auto;
    min-height: 60em;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
}

.blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: 25%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    padding: 30px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
}

.button-left {
    height: 1.5em;
    width: 4em;
    position: absolute;
    bottom: -2em;
    left: 3em;
    font-size: 1em;
    background-color: none;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    padding: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-left:hover {
    transition: background-color 0.5s;
    animation: changeColor 0.5s;
    animation-fill-mode: forwards;
}

.button-right {
    height: 1.5em;
    width: 4em;
    position: absolute;
    bottom: -2em;
    right: 3em;
    margin-left: 1em;
    font-size: 1em;
    background-color: none;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    padding: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-right:hover {
    transition: background-color 0.5s;
    animation: changeColor 0.5s;
    animation-fill-mode: forwards;
}

.button-center {
    height: 1.5em;
    width: 4em;
    position: absolute;
    bottom: -5em;
    transform: translateX(-50%);
    left: 50%;
    font-size: 1em;
    background-color: none;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    padding: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-center:hover {
    transition: background-color 0.5s;
    animation: changeColor 0.5s;
    animation-fill-mode: forwards;
}

.custom-h1 {
    font-size: 1em;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 768px) {

    [class*="button-left"] {
        font-size: 1.2em;
        padding: 1.1em;
        height: 0.8em;
        left: 2em;
    }

    [class*="button-right"] {
        font-size: 1.2em;
        padding: 1.1em;
        height: 0.8em;
        right: 2em;
    }

    [class="button-center"] {
        font-size: 1.2em;
        padding: 1.1em;
        height: 0.8em;
        bottom: -6em;
    }

    [class*="custom-h1"] {
        font-size: 1.6em;
    }

    [class="footer-segmentmid"] {
        position: relative;
        transform: translateX(-50%);
        left: 30%;
    }
    
    [class="button-1"] {
        margin-left: 0.8em;
        margin-bottom: 1em;
    }
}

@keyframes changeColor {
    0% {
        background-color: none;
    }

    100% {
        background-color: orange;
    }
}


.button-1{
    width: 7em; 
    height: 7em;
}