body {
    margin: 0;
    padding: 0
  }
  

header{
    background: linear-gradient(to right, black -10%, rgb(194, 88, 1));
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background: linear-gradient(to right, black -10%, rgb(194, 88, 1));
    height: 150px;
    width: 100%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    display: flex;
    padding: 20px;



}

.footer-segment {
    flex: 1;
    margin-right: 20px;
}

.footer-segment:last-child {
    margin-right: 0;
}

.footer-subsegment {
    margin-bottom: 20px;
}

.footer-subsegment:last-child {
    margin-bottom: 0;
}
h3{
    font-size: medium;
}